@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative;
 -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;z-index: 9999;}
#cssmenu:after,
#cssmenu > ul:after {content: ".";display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
#cssmenu #menu-button { /*display: none;*/}
#cssmenu {  font-family: Montserrat, sans-serif;  /*background: #333333;*/}
#cssmenu > ul > li { float: left; margin-right: 0%; width:100%;}
#cssmenu ul li:last-child {  margin-right: 0;}
#cssmenu.align-center > ul {font-size: 0; text-align: center;}
#cssmenu.align-center > ul > li { display: inline-block; float: none;}
#cssmenu.align-center ul ul { text-align: left;}
#cssmenu.align-right > ul > li { float: right;  }
#cssmenu > ul > li > a { padding: 8px 15px;font-size: 15px;  letter-spacing: 1px;text-decoration: none; position: relative;
 color: #000002; text-transform:uppercase;font-weight: normal; border-bottom:3px transparent solid; }
#cssmenu > ul > li.active a,
#cssmenu > ul > li > a:hover { color: #1cb9cc; }
#cssmenu > ul > li.active a{  color: #b1131f;  }
#cssmenu > ul > li.has-sub > a { padding-right: 30px;}
#cssmenu > ul > li.has-sub > a:after {position: absolute;top: 22px;right: 11px;width: 8px;height: 2px;display: block;background: #dddddd;content: '';}
#cssmenu > ul > li.has-sub > a:before {position: absolute;top: 19px;right: 14px;display: block;width: 2px;height: 8px;background: #dddddd;content: '';
-webkit-transition: all .25s ease;-moz-transition: all .25s ease;-ms-transition: all .25s ease;-o-transition: all .25s ease;transition: all .25s ease;}
#cssmenu > ul > li.has-sub:hover > a:before {top: 23px;height: 0;}
#cssmenu ul ul {position: absolute;left: -9999px;}
#cssmenu.align-right ul ul {text-align: right;}
#cssmenu ul ul li {height: 0;-webkit-transition: all .25s ease;-moz-transition: all .25s ease;-ms-transition: all .25s ease;
-o-transition: all .25s ease;transition: all .25s ease;}
#cssmenu li:hover > ul {left: auto;}
#cssmenu.align-right li:hover > ul {left: auto;right: 0;}
#cssmenu li:hover > ul > li {height: 35px;}
#cssmenu ul ul ul {margin-left: 100%;top: 0;}
#cssmenu.align-right ul ul ul {margin-left: 0;margin-right: 100%;}
#cssmenu ul ul li a {border-bottom: 1px solid rgba(150, 150, 150, 0.15);padding: 11px 15px;width: 170px;font-size: 12px;text-decoration: none;
color: #dddddd;font-weight: 400;background: #333333;}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {border-bottom: 0;}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {color: #ffffff;}
#cssmenu ul ul li.has-sub > a:after {position: absolute;top: 16px;right: 11px;width: 8px;height: 2px;display: block;background: #dddddd;content: '';}
#cssmenu.align-right ul ul li.has-sub > a:after {right: auto;left: 11px;}
#cssmenu ul ul li.has-sub > a:before {position: absolute;top: 13px;right: 14px;display: block;width: 2px;height: 8px;background: #dddddd;content: '';
-webkit-transition: all .25s ease;-moz-transition: all .25s ease;-ms-transition: all .25s ease;-o-transition: all .25s ease;transition: all .25s ease;}
#cssmenu.align-right ul ul li.has-sub > a:before {right: auto;left: 14px;}
#cssmenu ul ul > li.has-sub:hover > a:before {top: 17px;height: 0;}
#cssmenu #menu-button {display: block;padding: 2px 0 0;color: #b1131f;cursor: pointer;font-size: 12px;text-transform: uppercase;
font-weight: 700; height:30px; width:28px;}
#cssmenu #menu-button:after {position: absolute;top: 0px;right: 0;display: block;height: 6px;width: 27px;border-top: 3px solid #424242;
 border-bottom: 3px solid #424242;content: '';}
#cssmenu #menu-button:before {position: absolute;top: 17px;right: 0;display: block;height: 3px;width: 27px;background: #424242;content: '';}
#cssmenu #menu-button.menu-opened:after {top: 4px;border: 0;height: 3px;width: 20px;background: #424242;-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
#cssmenu #menu-button.menu-opened:before {top: 4px;background: #424242;width: 20px;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
#cssmenu ul{ display:none ;}
#cssmenu ul {display: none;position: absolute;right: 0;text-align: right;width: 165px;background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
border-radius: 1px; padding:10px 0;top: 42px;}
.new__pcc_up{float: none; margin: 0px auto; width: 25%;}
.new__pcc_up .brd_nmm{width: 100%; text-align: center; margin-bottom: 10px; font-size: 30px;}
.new__pcc_up .new__pcc a{ min-height: 180px;     padding-top: 50px;}
.new__pcc_up .project_name{margin-top: 30px;}
.past_tasks{    overflow: auto;max-height: 410px;}
.past_due_tasks label a{    float: left;color: #fff;font-size: 20px;}
.past_due_tasks label a:hover{color: #000;}
.past_due_tasks span{float: right; font-size: 15px !important;}
.past_due_tasks label{width: 100%; display: inline-block}
.singal_tab{  overflow: auto; max-height:370px;}